#block-morelikethis-flickr .search-with{background:#ccc; clear:both; position:absolute; z-index:5; font-size:0.8em; border:.2em solid black;}
ul.mlt-flickr li {position:relative; background-image:none;}
ul.mlt-flickr li .tags{ float:right; background:#ccc; clear:both; position:absolute; z-index:5; font-size:0.8em; top:0; left:100px;}